KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt
debug.txt
*.csv
Thirdparty/DBoW2/build/*
Thirdparty/DBoW2/lib/*
Vocabulary/ORBvoc.txt
build/

lib/

cmake_modules/
cmake-build-debug/

ExecMean.txt
SessionInfo.txt
Results_Euroc.txt
LBA_Stats.txt
LocalMapTimeStats.txt
TrackLocalMapStats.txt
TrackingTimeStats.txt
Table_Euroc
Table_TUMVI_rooms/
*.pyc
*.osa
.idea/
my_settings.txt

borrar/*

*/ExecMean.txt

data
ros2_ws/build
ros2_ws/install
ros2_ws/log